* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  --color-border: rgba(0, 20, 20, 0.4);
  --color-link: rgba(71, 209, 163, 0.79);
  --color-text: rgba(10, 10, 10, 0.8);
  --color-text-hover: rgba(255, 255, 255, 1);
}

nav {
  height: 100%;
  position: fixed;
  border-right: 1px solid var(--color-border);
  font-size: 2.5rem;
  font-weight: 300;
}

nav ul {
  list-style-type: none;
}

nav li {
  border-top: 1px solid var(--color-border);
  width: 100%;
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  padding: 0 1rem;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav li:hover a {
  color: var(--color-link);
}

main {
  margin: 0 auto 11rem 31rem;
  padding: 3rem;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

article {
  color: var(--color-text);
  padding: 2rem;
  font-size: 1.7rem;
  font-weight: 300;
}

article li {
  margin-left: 17px;
}

code {
  font-size: 1.3rem;
  margin: 5rem;
}

@media only screen and (max-width: 815px) {
  body {
    font-size: 55%;
  }

  nav {
    font-size: 2rem;
  }

  nav ul {
    border: 1px solid var(--color-border);
    height: 207px;
  }

  nav {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid var(--color-border);
  }

  main {
    position: relative;
    margin: 0;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  main {
    margin-left: 0;
  }

  code {
    margin-left: 0;
    width: 100%;
    padding: 15px 10px;
    min-width: auto;
  }
}
